_archive/

credentials/*
!credentials/certs/
credentials/certs/*
!credentials/README.md
!credentials/certs/README.md

data/*
!data/tmp/
data/tmp/*
!data/tmp/joblib/
data/tmp/joblib/*
!data/README.md
!data/**/README.md

notebooks/*
!notebooks/README.md
#!notebooks/v0.1.2.ipynb

scripts/*
!scripts/
!scripts/hash_jupyter_pw.py

*api_class_test.py
*retired_functions.py

*docker-compose.yml
*Dockerfile.redis
*docker-entrypoint-redis.sh

*/.ipynb_checkpoints
*.ini
*__pycache__
*.pyc
*scratch.txt
*setup.py